.colourblind-demo-box {
  width: 125px;
  height: 75px;
  text-align: center;
  margin-bottom: 10px;
}
.default-palette.icinga-badge {
  color: white;
  padding: 10px;
}
.default-palette.icinga-badge.state-ok {
  background-color: #44bb77;
}
.default-palette.icinga-badge.state-warning {
  background-color: #ffaa44;
}
.default-palette.icinga-badge.state-warning.handled {
  background-color: #ffcc66;
}
.default-palette.icinga-badge.state-critical {
  background-color: #ff5566;
}
.default-palette.icinga-badge.state-critical.handled {
  background-color: #ff99aa;
}
.default-palette.icinga-badge.state-unknown {
  background-color: #aa44ff;
}
.default-palette.icinga-badge.state-unknown.handled {
  background-color: #cc77ff;
}
.default-palette.icinga-badge.state-pending {
  background-color: #77aaff;
}
.custom-palette.icinga-badge {
  color: white;
  padding: 10px;
}
.custom-palette.icinga-badge.state-ok {
  background-color: #79fa54;
}
.custom-palette.icinga-badge.state-warning {
  color: black;
  background-color: #fce94e;
}
.custom-palette.icinga-badge.state-warning.handled {
  color: white;
  background-color: #8a93b7;
}
.custom-palette.icinga-badge.state-critical {
  background-color: #ff5566;
}
.custom-palette.icinga-badge.state-critical.handled {
  background-color: #ff99aa;
}
.custom-palette.icinga-badge.state-unknown {
  background-color: #9cb2f9;
}
.custom-palette.icinga-badge.state-unknown.handled {
  color: black;
  background-color: #cfd8fc;
}
.custom-palette.icinga-badge.state-pending {
  background-color: #000000;
}
